<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find nourrobot)/maps/map4.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find nourrobot)/launch/include/amcl.launch" />
    
    <!-- Calls navigation stack packages for compatible nourrobot base -->
    <!-- Takes reference from env variable NOURBASE. ie. export NOURBASE=2wd -->
    <include file="$(find nourrobot)/launch/include/move_base/move_base_$(env NOURBASE).launch" />
</launch>
